<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h2> Admin Login </h2>

    <form class="" method="post">
      <label for=""> Email address: </label>
      <input type="text" id="email" > <br/>

      <label for=""> Password: </label>
      <input type="text" id="password" > <br/>

      <button type="button" name="Login" onclick="login()"> Login</button>
    </form>

  </body>

<script type="text/javascript">

function login() {
  const email = document.getElementById("email").value;
  const password = document.getElementById("password").value;

  fetch('http://localhost:3001/admin-login', {
    method: 'post',
    headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: JSON.stringify({
      email,
      password
    })
  })
  .then(res => {
    res.json().then(data => {
      localStorage.setItem("token", data.access_token);
      window.location.href = "/admin";
    })
  })
  .catch(err => {
    console.log(err)
  })
}

</script>

</html>
