<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h2> User Register </h2>

    <form class="" method="post">
      <label for=""> Name: </label>
      <input type="text" id="name" > <br/>

      <label for=""> Email address: </label>
      <input type="text" id="email" > <br/>

      <label for=""> Password: </label>
      <input type="text" id="password" > <br/>

      <button type="button" name="Save" onclick="register()"> Save</button>
      <button type="button" name="Login"> <a href="/user-login"> Login </a></button>
    </form>

  </body>

<script type="text/javascript">

function register() {
  const email = document.getElementById("email").value;
  const name = document.getElementById("name").value;
  const password = document.getElementById("password").value;

  fetch('http://localhost:3001/create-user', {
    method: 'post',
    headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: JSON.stringify({
      email,
      password,
      name
    })
  })
  .then(res => {
    res.json().then(data => {
      console.log(data)
      localStorage.setItem("token", data.access_token);
      window.location.href = "/";
    })
  })
  .catch(err => {
    console.log(err)
  })
}

</script>

</html>
