<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h2> User List </h2>

    <table border="1">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody>
        {{#each users as |this index|}}
          <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td><image src=files/{{this.image}} width="100" height="100" /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    {{ message }}
  </body>

  <script type="text/javascript">
    const token = localStorage.getItem("token");
    if (!token || token == "null") {
      window.location.href = "./admin-login";
    }
    fetch('http://localhost:3001/admin', {
      method: 'get',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': token
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
    })
    .then(res => {
      res.json().then(data => {
        if ("error" in data) {
          localStorage.setItem("token",null);
          window.location.href = "/admin-login";
        }
      })
    })
    .catch(err => {
      console.log(err)
    })
  </script>
</html>
