<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h2> User Register </h2>

    <form class="" method="post">
      <label for=""> Name: </label>
      <input type="text" id="name" > <br/>

      <label for=""> Email address: </label>
      <input type="text" id="email" > <br/>

      <label for=""> number: </label>
      <input type="text" id="number" > <br/>

      <label for=""> Image: </label>
      <input type="file"
       id="file" name="avatar"
       accept="image/png, image/jpeg"> <br/>

      <label for=""> Address Line 1 : </label>
     <input type="text" id="addressLine1"> <br/>

       <label for=""> Address Line 12 : </label>
      <input type="text" id="addressLine12"> <br/>

      <label for=""> City : </label>
     <input type="text" id="city"> <br/>

     <label for=""> State : </label>
    <input type="text" id="state"> <br/>

      <label for=""> Pin code : </label>
     <input type="text" id="pin"> <br/>

     <label for=""> Country : </label>
    <input type="text" id="country"> <br/>

      <button type="button" name="Login" onclick="register()"> Save Profile</button>
    </form>

  </body>

<script type="text/javascript">

function register() {
  const token = localStorage.getItem("token");
  if (!token || token == "null" || token == "undefined") {
    window.location.href = "/create-user";
  }
  const email = document.getElementById("email").value;
  const name = document.getElementById("name").value;
  const number = document.getElementById("number").value;
  const addressLine1 = document.getElementById("addressLine1").value;
  const addressLine12 = document.getElementById("addressLine12").value;
  const city = document.getElementById("city").value;
  const state = document.getElementById("state").value;
  const pin = document.getElementById("pin").value;
  const country = document.getElementById("country").value;
  const src = document.getElementById("file");
  const file = src.files[0]

  let formData = new FormData();
  formData.append('email', email);
  formData.append('name', name);
  formData.append('phone', number);
  formData.append('addressLine1', addressLine1);
  formData.append('addressLine12', addressLine12);
  formData.append('city', city);
  formData.append('state', state);
  formData.append('pin', pin);
  formData.append('country', country);
  formData.append('file', file);

  fetch('http://localhost:3001/save-profile', {
    method: 'post',
    headers: {
      // 'Content-Type': 'multipart/form-data',
      'Authorization': token
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: formData
  })
  .then(res => {
    res.json().then(data => {
      console.log(data)
      // localStorage.setItem("token", data.access_token);
      window.location.href = "/";
    })
  })
  .catch(err => {
    console.log(err)
  })
}

</script>

</html>
