<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>App</title>
  </head>
  <body>
    <h2> User List </h2>

    <div id="userData">
    </div>
    <!--  {{ message }} -->
  </body>

  <script type="text/javascript">
  var user;
    const token = localStorage.getItem("token");
    if (!token || token == "null" || token == "undefined") {
      window.location.href = "/user-login";
    }

    function logout() {
      localStorage.setItem("token", null)
      window.location.href = "/create-user";
    }
    fetch('http://localhost:3001/profile', {
      method: 'get',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': token
        // 'Content-Type': 'application/x-www-form-urlencoded',
      },
    })
    .then(res => {
      res.json().then(data => {
        if ("error" in data) {
          localStorage.setItem("token",null);
          window.location.href = "/create-user";
        }
        const msg = "a " + data.user.name + " is successfully created.";
        user = data.user
        document.getElementById("userData").innerHTML= `<table border="1">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Phone Number</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td>${user.name}</td>
                <td>${user.email}</td>
                <td>${user.phone || ""}</td>
                <td><img src=${user.image || "https://thumbs.dreamstime.com/b/demo-text-businessman-dark-vintage-background-108609906.jpg"} width="100" height="100"/></td>
                <td><a href="/save-profile">Save Profile</a> <button onClick="logout()">Logout</td>
              </tr>
          </tbody>
        </table>`

      })
    })
    .catch(err => {
      console.log(err)
    })
    // setTimeout(function(){ alert("Hello"); }, 3000);
  </script>
</html>
